<header>
    <a href="/"><p class="fenn-construction-title"><img src="./Images-Fenn/edits/logo-blue.png" width="45px" alt="logo"><span class="title-text">Fenn<br>C<span class="logo-wheels">o</span>nstructi<span class="logo-wheels">o</span>n</span></p></a>
    <nav>
      <input type="checkbox" name="nav-logo" id="nav-logo">
      <label for="nav-logo" class="menu-button"><div class="menu-icon"></div></label>
      <ul id= "nav-page" class="nav-list">
       <li><a href="/#home-services">services</a></li>
       <li><a href="/#about">about</a></li>
       <li><a href="/#contact">contact</a></li>
      </ul>  
    </nav>
  </header>