*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------Body----------------------------------------------------------------*/
body{
    font-size: 1.1rem;
    background-color: #e6e6e6;
    
  }
a{
    text-decoration: none;
}

/*----------------------------------------------------<Common Classes>------------------------------------------------------------*/
.text-center{
    text-align: center;
    
    }

/*----------------------------------------------------<End-Common Classes>------------------------------------------------------------*/

/*----------------------------------------------------<Hero-Page>------------------------------------------------------------*/
            /*------------------------------------------Header ----------------------------------------------*/

.body_hero{
    min-width: 100%;
    min-height:100%;
    background-color: #e6e6e6;
}

header{
    height:6.6%;
    width:100%;
}
.nav-top{
    z-index: 1;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom: 93.7%;
}

nav{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom:93.7%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color:#ffff;
}

nav a:hover{
    
    color: #e6e6e6;

}

.color-brown{
    color:#bc815f;
}

a.color-brown:hover{
    color:#7d4727;
}

/* -------------------------------------------------<Page1-home>------------------------------------------------------ */

.slogan-rebuild{
   position: absolute;
   left:33.33%;
   top:55.5%;
   color:#ffffff;
   font-size: 40px; 
   font-weight: bold;
}

.slogan-to{
    position: absolute;
    left:39.93%;
    top:61.67%;
    color:#BC815F;
    font-size: 40px; 
    font-weight: bold;
}

.slogan-love{
    position: absolute;
    left:44%;
    top:61.67%;
    color:#34A56F;
    font-size: 40px; 
    font-weight: bold;
}

.fennco{
    position: absolute;
    left:85.21%;
    top:87.23%;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    color:#b30000;
}

.image-block{
    display: block;
}

/* -------------------------------------------------<Home-Page1-Home-end>------------------------------------------------------ */

/* -------------------------------------------------<Home-Page2-Service>------------------------------------------------------ */

.titles-page{
    font-size: 30px;
    color: white;
    position: absolute;
    left: 45.5%;
    top: 4.74%;
}

.kitchen-services-cover{
    position: absolute;
    left: 41.53%;
    top: 23.84%;
    opacity: 70%;
    border:solid 6px #BC815F;
}
img.kitchen-services-cover:hover{
    opacity:80%;
    width: 297px;
    height: 297px;
    left: 39.83%;
    top: 21.84%;

}
.kitchen-cover-label{
    position: absolute;
    left:47.36%;
    top: 48.2%;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.bathroom-services-cover{
    position: absolute;
    left: 24.37%;
    top: 15.81%;
    opacity: 70%;
    border:solid 6px #BC815F;
}
img.bathroom-services-cover:hover{
    opacity: 80%;
    width: 249.6px;
    height:249.6px;
    left: 22.93%;
    top: 13.28%;
}
.bathroom-cover-label{
    position: absolute;
    left:28.8%;
    top: 35.2%;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.flooring-services-cover{
    position: absolute;
    left: 25.69%;
    top: 50%;
    opacity: 70%;
    border:solid 6px #BC815F;
}
img.flooring-services-cover:hover{
    opacity: 80%;
    width: 177.6px;
    height:183.6px;
    left:24.66%;
    top:48.16%;
}
.flooring-cover-label{
    position: absolute;
    left:28.2%;
    top: 63%;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.patio-services-cover{
    position: absolute;
    left: 61.94%;
    top: 15.82%;
    opacity: 70%;
    border:solid 6px #BC815F;
}
img.patio-services-cover:hover{
    opacity: 80%;
    width:240px;
    height:240px;
    left:60.45%;
    top:13.37%;
}
.patio-cover-label{
    position: absolute;
    left:66.58%;
    top: 34.4%;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.see-more-services{
    position: absolute;
    left: 72.15%;
    top: 73.2%;
    color: #B30000;
}

.see-more-line{
    display: block;
    position: absolute;
    top: 75.42%;
    left: 19.44%;
}




/* ----------------------------------------------End-home-Service-Page----------------------------------------------------------*/

/*----------------------------------------------Home-About-Page----------------------------------------------------------*/
.home-about-title{
    color:#7d4727;
    font-size: 30px;
    position: absolute;
    top: 1.55%;
    left: 46.80%;
    font-weight: bolder;
}

.richie-portrait{
    position: absolute;
    top: 41.30%;
    left: 21.32%;
}

.story-board{
    position: absolute;
    top:30.56%;
    left:55.06%;
}

.about-story{
    width: 290px;
    height: 451px;
    position: absolute;
    top:32.56%;
    left:56.9%; 
}

article.about-story section{
    font-family: cursive;
    font-weight: bold;
    text-indent: 10%;
    margin-bottom: 5px;
}
/*--------------------------------------------------------Header(end)------------------------------------------------------------*/
          /*-----------------------------------------------Home-Page-------------------------------------------------*/



.fa {
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    width: 2em;
    text-align: left;
    text-decoration: none;
    border-radius: 70%;
  }


.fa:hover {
    opacity: 0.7;
  }
  
.fa-facebook{
    background-color: #3B5998;
    color: white;
}

/*text align left text align right */
.align-left{
display: inline;
float: left;
text-align: center;
margin-right: 20%;
margin-left: 20%;
}

.aling-center{
 display: inline;
 float: right;  
}

.align-right{
    display: inline;
    text-align: right;
}
*/

/*------------------------------------------------Service Page ------------------------------------------------------------*/




.service-left-image{
    display: inline-block;
    width:25vmax;
    height:25vmax;
    margin-left:3%;

}

.service-right-paragraph{
    display: inline;
    margin-top: 2%;
    float: right;
    margin-right: 20%;

}

.service-caption-left{
    margin-left: 3%;
}

.service-caption-color{
    color:#7d4727;

}

.light-brown{
    background-color: #CAD5E3;
}

.service-title{
    text-align: center;
    margin-top: 2%;

}

.service-right-image{
    display: inline;
    width:25vmax;
    height:25vmax;
    margin-left:6.2%;


}

.service-caption-right{
    text-align: right;
    margin-right: 23.5%;
    

}



.service-left-paragraph{
    display: inline;
    margin-top: 2%;
    float: left;
    width: 65%;
    position: relative;
    left:15%


}

p.service-left-paragraph a, p.service-right-paragraph a{
    color:#006b3e;
}
/* ----------------------------------------------Page2-Service(end)----------------------------------------------------------*/

/* --------------------------------------------------Floor Gallery----------------------------------------------------------*/

.floor-center{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid gray;
}

.floor-pics-center{
    margin: auto;
    width: 95%;
}
.previous-left{
    display:inline-block;
    width:50%;
    float: left;
    color: #b30000;
}

.next-right{
    display: block;
    width:50%;
    float: right;
    text-align: right;
    color:#b30000;
   
}

.previous-left-last{
    color: #b30000;
}

a.next-right:hover{
    color: #b30000;
    opacity: 0.6;
}

a.previous-left:hover{
    color: #b30000;
    opacity: 0.6;
}

a.previous-left-last:hover{
    color: #b30000;
    opacity: 0.6;
}


/* ------------------------------------------------Floor Gallery(end)----------------------------------------------------------*/


/* ---------------------------------------------------About US---------------------------------------------------------------*/
.typography-old-title{
    font-family: Georgia, serif;
    text-align: center;
}

h2.typography-old-title{
    margin-top: 5%;
}

.about-figure{
    display: inline;
    width:40%;
}

.about-pic{
    display: inline;
    border: 4px #bc815f solid;
    width:20vmax;
    height:23vmax;
    position: relative;
    left:20%;
    margin-top: 7%;
}


.about-text{
    display: inline-block;
    max-width: 43%;
    float:right;
    position:relative;
    right:14%;
    bottom:2%;
    padding: 4% 4%;
    border: 5px #287ab8 solid;
    margin-top: 2%;
    font-size: 1.2rem;

}

p.about-text a{
    color:#006b3e;
}

.about-figure-review-1{
    display: inline-block;
    width:25%;
    position: relative;
    left: 5%;
    margin: 2%;
    opacity: 0.8;
    vertical-align: top;
}
.about-review-pic1{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin:auto;
}

figure.about-figure-review-1:hover{
    opacity: 1;
    color:#b30000;
    font-weight: bold;
}

.review-caption{
    text-align: center;
    font-family: "Apple Chancery", cursive;
}

.review-see-more{
    text-align: right;
    position: relative;
    right: 10%;
}

p.review-see-more a{
    color:#7d4727;
}

p.review-see-more a:hover{
    cursor: pointer;
    color:#b30000;
}
/* .about-main{
    height: 40vmax;
} */

/* --------------------------------------------------About US (end)-----------------------------------------------------------*/

/* -----------------------------------------------------Contact---------------------------------------------------------------*/
.contact-main{
    margin-top: 5%;
}

.contact-fieldset{
    width:80%;
    margin:auto;
    margin-bottom: 5%;
}

.contact-form{
    display: inline-block;
    float:left;
    width: 50%;
    height: 25.5rem;
    background-color: #287ab8;
    /* background-color: #4169e1; */
    color: #e6e6e6;
    
}

.contact-input{
    width:30ch;
    display: block;
    margin:auto;
    margin-bottom: 2%;
}

input.contact-input:focus{
    background-color: #C1E1C1;
}

textarea.contact-area:focus{
    background-color: #C1E1C1;
}

.contact-legend{
    text-align: center;
    width: auto;
}

.contact-center{
    text-align: center;
}

.contact-subject{
    width: auto;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

.contact-area{
    display: block;
    margin: auto;
    margin-bottom: 1%;
}

.contact-p-button{
    text-align: center;
    position: relative;
    right: 22%;
}
.contact-button{
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2.2px;
    padding-right: 2.2px;
    margin-right: 2px;
    margin-bottom: 5%;
}

.contact-ul{
    text-align: center;
    display: inline-block;
    padding-top: 3rem;
    padding-bottom: 6.2rem;
    font-size: larger;
    font-weight: bold;
    width: 50%;
    float: right;
    background: #e2d8cc;
}

ul.contact-ul li{
    line-height: 4.1rem;
}

ul.contact-ul a{
    display: contents;
    color:#7d4727;
}

ul.contact-ul a:hover{
    color:#b30000;
}

.contact-days{
    margin: auto;
    font-weight: bold;
    text-align: center;
    font-size: larger;

}

.contact-hours{
    margin-top: 10%;
    margin: auto;
    font-weight: bold;
    color: #b30000;
    text-align: center;
    margin-bottom: 5%;
    font-size: larger;

}
/* ----------------------------------------------------Contact(end)----------- ----------------------------------------------*/
/* -------------------------------------------------------Footer-------------------------------------------------------------*/
footer{
    display: block;
    height: 15rem;
    background: #52392F;
    /*background-color: #7e533f;*/
    color: white;  
}

footer div:first-child{
    display: inline-block;
    width: 50%;

}



footer h4:first-child{
    width: 70%;
    display: inline-block;
    float: left;
    position: relative;
    left: 12%;
    top:5%

}
footer h4:nth-child(2){
    
    width: 30%;
    display: inline-block;
    position: relative;
    top:5%
}


 footer ul{
    display: inline-block;
    width: 50%;
    float: left;
    margin-right: 0;
    position: relative;
    top:13%;
    left:10%;
} 

.footer-ul2{
    display: inline;
    position: relative;
    margin-top: 50px;
}
footer li{
    display: inline;
}

footer li:first-child{
    position: relative;
}


.footer-services{
    position: relative;
    left: 60%;
}

.footer-gallery{
    position: relative;
    left:59%;
}


.copy-right{
    display: inline-block;
    width: 50%;
    font-size: medium;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
    top:5%;

}

footer form{
    display: inline-block;
    width: 30%;
    float:right;
    position: relative;
    top: 13%;
}

footer a{
    display: inline;
    color:inherit;
}

footer a:hover{
    color:#B4D9EF;

}

footer input[type=email]{
    width: 30ch;
    margin-bottom: 1px;
}

footer input[type=email]:focus{
    /* background-color: #B4D9EF; */
    background-color: #C1E1C1;

}

footer button{
    padding-left: 10px;
    padding-right: 10px;
}

footer button:hover{
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer textarea:focus{
    /* background-color: #B4D9EF; */
    background-color: #C1E1C1;
} 

/* -----------------------------------------------------Footer(end)-----------------------------------------------------------*/
