*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*--------------------------------------------------------Body----------------------------------------------------------------*/
body{
    font-size: 1.1rem;
    background-color: #e6e6e6;
    min-width: 320px;
    
}

a:visited,
a{
    text-decoration: none;
}



/*----------------------------------------------------<Common Classes>------------------------------------------------------------*/
.text-center{
    display: block;
     text-align: center;
}

.round-img{
    border-radius: 50%;
}

.center-img{
    display: block;
    margin: auto;
}

/*----------------------------------------------------<End-Common Classes>------------------------------------------------------------*/

/*----------------------------------------------------<Hero-Page>------------------------------------------------------------*/
            /*------------------------------------------Header ----------------------------------------------*/


header{
    min-width: 320px;
    height:36px;;
    background-image: url("./Images-Fenn/edits/background-hero-9.png");
    background-size: 100% 182.6px;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 2; 
    
}

nav .icon-logo{
    display:none;
}

.fenn-construction-title{
    display: block;
     position:fixed;
     top:0;
     left:5%;
     z-index:1;
     line-height:12px;
     font-size: 0.7rem;
     font-weight:bold;
     opacity: 80%;
}

.logo-wheels{
    color:#181818; 
    font-size:larger;
    position:relative;
    top: 5px;

}


.nav-top{
    z-index: 1;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom: 93.7%;
}


p.fenn-construction-title img{
    width:30px;
    
}

p.fenn-construction-title a{
    color: white;
}



nav{
    position: fixed;
    top:0;
    left: 25%;
    right:0;
    bottom:93.7%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav-logo{
    visibility: hidden;
}

.menu-button{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    position: fixed;
    top: 15px;
    right: 30px;
    cursor: pointer;
}

.menu-icon::before,
.menu-icon,
.menu-icon::after{
    width: 30px;
    height: 5px;
    background-color: #bc815f;
    position: absolute;
    border-radius: 20%;
    transition-property: all;
    transition-duration: 0.5s;
}

@media  screen and (min-width:2px) and (max-width:245px){
    .menu-icon::before,
    .menu-icon,
    .menu-icon::after{
        background-color: #e6e6e6;
    }

    .title-text{
        visibility: hidden;
    }
    
}

.menu-icon::before,
.menu-icon::after{
    content:"";
}   

.menu-icon::before{
    transform: translateY(-8px);
}

.menu-icon::after{
    transform: translateY(8px)
}

#nav-logo:checked ~ ul.nav-list{
    right:0;
}

#nav-logo:checked ~ .menu-button .menu-icon{
    background-color: transparent;
}

#nav-logo:checked ~ .menu-button .menu-icon::before{
    transform: translateY(8px);
    transform: rotate(-45deg);
}

#nav-logo:checked ~ .menu-button .menu-icon::after{
    transform: translateY(-8px);
    transform: rotate(45deg);
}

header ul.nav-list{
    background-image: radial-gradient(#9e6b4e, #BC815F);   
    list-style-type: none;
    position: fixed;
    top: 35px;
    right:-100%;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-content: center;
    transition-property: all;
    transition-duration: 0.4s;
    z-index: 2;
}
header li:first-child{
    margin-top: 50px;
}
header li{
    display: block;
    align-self: center;
    margin: 10px;
}

header li a.color-brown,
header li a:visited,
header li a:active,
header li a:focus,
header li a{
    color:white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}


/* header a:visited,
header a{
    color:#ffff;
}

nav a:hover{
    
    color: #e6e6e6;

}

header a.color-brown{
    color:#bc815f;
}

a.color-brown:hover{
    color:#7d4727;
}

header button{
    display: none;
} */


/*Media query
XSMALL - Screen phone-------------------------------*/

@media screen and (min-width:320px){

    header{
        height:11.25vw;
        width: 100%;
        background-size: 100% 57.08vw;

    }

    p.fenn-construction-title img{
        width:30px;
    }
    


}

/*Media query
MEDIUM- Screen phone------------------------------------*/
@media screen and (min-width:375px){
    .menu-button{
        top: 17px;
    }

    header{
        height:42.19px;
    }
}

/*Media query
PHONE- LARGE*------------------------------------*/
@media screen and (min-width:425px){
    header ul.nav-list{
        line-height: 10vw;
        font-size: 4vw;
    }
   
}


/* -------------------------------------------------<Page1-home>------------------------------------------------------ */
/* -------------------------------------------------<Page1-home>------------------------------------------------------ */

.home-hero-box{
    width:100%;
    height: 182px;
}

@keyframes fenn-paint {
    0%{
        opacity: 0;
    }
    100%
    {
        opacity: 100%;
    }
}

.fenn-painting{
    width:150px;
    height:auto;
    position:absolute;
    top: 2%;
    left:49.86%;
    opacity: 0;
    animation-name: fenn-paint;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 1;
}


@keyframes slogan-slide {
    0%{
        opacity: 0;
        transform: translateX(0);

    }
    100%{
        opacity:100%;
        transform: translateX(25%);

    }
    
}
.slogan-rebuild{
   position: absolute;
   left:30.33%;
   top:55.5%;
   color:#ffffff;
   font-size: 2.5rem; 
   font-weight: bold;
   opacity: 0%;
   animation-name: slogan-slide;
   animation-duration: 1s;
   animation-delay: 1.4s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
}

.slogan-to{
    position: absolute;
    left:36.93%;
    top:61.67%;
    color:#BC815F;
    font-size: 2.5rem; 
    font-weight: bold;
    opacity: 0%;
    animation-name: slogan-slide;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.slogan-love{
    position: absolute;
    left:40%;
    top:61.67%;
    color:#34A56F;
    font-size: 2.5rem; 
    font-weight: bold;
    opacity: 0%;
    animation-name: slogan-slide;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.image-block{
    display: block;
}


.slogan-rebuild{
        -webkit-text-stroke: 1px #B30000;
        font-size: 25px;
        left:24%;
        top:62%;
    }
    
.slogan-to{
        font-size: 19px;
        left:36%;
        top:75%;
    }
    
.slogan-love{
        font-size: 19px;
        left:42%;
        top:75%;
    }
/*Media
Phone-XSMALL - Screen phone----------------------------------------*/
@media screen and (min-width:320px) {
    .home-hero-box{
        height: 57.08vw;
    }
    
}


/*Media
Phone-MEDIUM - Screen phone-------------------------------------*/
@media screen and (min-width:375px){
   .fenn-painting{
     width: 170px;
     height: auto;
     left: 46%;
   } 

   .slogan-rebuild{
    top: 67%;
   }

   .slogan-to{
    top: 78%;
    left: 37%;
   }

   .slogan-love{
    top: 78%;
   }
    
}

/*Media
Phone-MEDIUM - Screen phone-------------------------------------*/
@media screen and (min-width:425px){

    .slogan-rebuild{
        font-size: 6vw;
    }

    .slogan-to{
        font-size:4.4vw;
    }

    .slogan-love{
        font-size:4.4vw;
    }


    .fenn-painting{
        right: 64%;
        bottom:20%;
        width: 46%;
    }
    
   }




/* -------------------------------------------------<Home-Page1-Home-end>------------------------------------------------------ */

/* -------------------------------------------------<Home-Page2-Service>------------------------------------------------------ */

.titles-page{
    font-size: 1.875rem;
    color: white;
    width: 100%;
    display:block;
    text-align: center;
}


.wall-lamp{
    position: absolute;
    left: 11.4%;
    top: 5.24%;
}

.brown-border{
    border:solid 6px #bc815f;
    outline: solid 2px #52392F;
}

.kitchen-services-cover{
    width:336px ;
    position: absolute;
    left: 38.40%;
    top: 19.1%;
    opacity: 70%;
    border:solid 6px #bc815f;
    outline: solid 2px #52392F;
}
img.kitchen-services-cover:hover{
    opacity:80%;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transform: scale(1.09);

}

.kitchen-cover-label{
    position: absolute;
    left:47.15%;
    top: 57.50%;
    font-weight: bold;
    color: white;
    background-color:#52392F;
    transition-property: font-size;
    transition-duration: 0.1s;
}



.bathroom-services-cover{
    width:281px;
    position: absolute;
    left: 16.46%;
    top: 15%;
    opacity: 70%;
    border:solid 6px #bc815f;
    outline: solid 2px #52392F;
}
img.bathroom-services-cover:hover{
    opacity:80%;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transform: scale(1.09);
}

.bathroom-cover-label{
    position: absolute;
    left:23.36%;
    top: 45.82%;
    font-weight: bold;
    color: white;
    background-color:#52392F;
}

.flooring-services-cover{
    width:200px;
    height: 206px;
    position: absolute;
    left: 20.06%;
    top: 59.40%;
    opacity: 70%;
    border:solid 6px #bc815f;
    outline: solid 2px #52392F;
}

img.flooring-services-cover:hover{
    opacity:80%;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transform: scale(1.09);
}
.flooring-cover-label{
    position: absolute;
    left:25.2%;
    top: 80.47%;
    font-weight: bold;
    color: white;
    background-color:#52392F;
}

.patio-services-cover{
    width: 270px;
    position: absolute;
    left: 64.16%;
    top: 17%;
    opacity: 70%;
    border:solid 6px #bc815f;
    outline: solid 2px #52392F;
}
img.patio-services-cover:hover{
    opacity:80%;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transform: scale(1.09);
}
.patio-cover-label{
    position: absolute;
    left:71.25%;
    top:48.31%;
    font-weight: bold;
    color: white;
    background-color:#52392F;
}

a.see-more-services{
    position: absolute;
    left: 77.45%;
    top: 92.6%;
    color: #B30000;
    transition-property: font-size;
    transition-duration: 0.1s;

}

a.see-more-services:hover,
a.see-more-services:focus
{
    opacity: 80%;
    cursor: pointer;
}

 .see-more-line{
    width: 68%;
    display: block;
    position: absolute;
    left: 15.62%;
    top: 96%;
}

 .more-services{
    display:none;
    background-color: #939799;
    width: 100%;
}

 .slideshow-large{
    display:none;
}


/*XSMALL - Screen phone------------*/
    /* img.home-services-background{
        height:254px;
    } */


.services-canvas{
        width:100%;
        height:370px;
        background-image:url("./Images-Fenn/edits/home-services-title.png"), linear-gradient(to right bottom, #e6e6e6, #939799);
        background-size: 100% 100%;
        background-repeat: no-repeat; 

    }

 .service-home-title{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: white;
        padding-top: 20px;
    }

 .home-service-bar{
        position: absolute;
        top: 5px;
        height: 270px;
        z-index: 0;
    }
    
 .wall-lamp{
        width:20px;
    }

    
 .slideshow{
        display: block;
        width: 270px;
        height: 270px;
        margin:auto;
        margin-top: 20px;
        overflow: hidden;  
    }

 .slideshow-xsmall img{
        width: 100%;
        height: 100%;
    }

 .slides{
        width: 500%;
        height:100%;
        display: flex;
    }

    input[name="photo-radio"]{
        position: absolute;
        visibility: hidden;
    }

 .services-nav{
        display: flex;
        position: absolute;
        height:20px;
        bottom: 10%;
        left: 6%; 
    }

 .photo-bar{
        width:20px;
        height:10px;
        margin:15px;
        cursor: pointer;
        border: 2px solid white;
        background-color: transparent;
    }

 .photo-bar:hover,
 .photo-bar:active{
        background-color: white;
    }

 .slide{
        width:20%;
        transition-duration: 0.6s;
    }

 .slide img{
        width:100%;
        height:100%;
    }

 #photo-radio0:checked ~ .s0{
        margin-left: 0;
    }

 #photo-radio1:checked ~ .s1{
        margin-left: -20%;
    }

 #photo-radio2:checked ~ .s2{
        margin-left: -40%;
    }

 #photo-radio3:checked ~ .s3{
        margin-left: -60%;
    }


/*Media query
Tablet- LARGE*------------------------------------*/
@media screen and (min-width:425px){
    .service-home-title{
        font-size: 4vw;
        padding-top: 4.5vw;
    }

    .slideshow{
        width: 62vw;
        height: 62vw;
    }

    .services-canvas{
        height:87.06vw;
    }

    .wall-lamp{
        width: 6vw;
    }
}


/* ----------------------------------------------End-home-Service-Page----------------------------------------------------------*/

/*----------------------------------------------Home-About-Page----------------------------------------------------------*/

.about{
    width:100%;
    height:auto;
}

.home-about-title{
    color:#7d4727;
    font-size: 1.875rem;
    margin: auto;
    font-weight: bolder;
}

.richie-portrait{
    position: absolute;
    top: 49.30%;
    left: 22.32%;
}

.about-window{
    width: 100%;
    min-height: 182px;
    background-image: url("./Images-Fenn/edits/home-page3-skeleton.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-story{
    width: 290px;
    height: 451px;
    font-family: "inter";
    font-weight: bolder;
    margin: auto;
    margin-top: 30px;
}

article.about-story section{
    /* font-family: cursive; */
    font-weight: bold;
    text-indent: 10%;
    margin-bottom: 5px;
}


/*XSMALL - Screen phone------------*/
.about{
    height: 500px;
}
.story-board{
    display:none;
}

.home-about-title{
    font-size: 1rem;
    width: 60px;
    background-color: white;
    text-align: center;
    padding:2px;
    top:-3%;
    left:48%;

}

.richie-portrait{
    bottom:30%;
    left:35%;
    width:100px;    
    margin:auto;
}

.about-story{
    display: block;
    width: 240px;
    height: 300px;
    overflow: scroll;
    margin:auto;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: 8px solid #52392F;

}

/*Media 
PHONE-SMALL  -------------------------------------*/
@media screen and (min-width:320px){
    .about-window{
        width:100%;
        height:57.08vw;
    }

    .about{
        height:auto;
    }
}

/*Media
MEDIUM - Screen phone-------------------------------------*/
@media screen and (min-width:375px){

    .home-about-title{
        font-size: large;
    }

    .richie-portrait{
        width: 118px;
    }

    .about-story{
        width: 64vw;
        height:80vw;

    }
    
}

/*Media
TABLET-- --------------------------------------------------*/
@media screen and (min-width: 425px){
    .home-about-title{
        font-size: 4vw;
        width: 15vw;
    }

    .richie-portrait{
        width: 28vw;
        bottom: 25%;
    }   

    
}

/*Media
TABLET--IN --------------------------------------------------*/
@media screen and (min-width: 535px){

    .richie-portrait{
        width:25vw;
        bottom:20%;
        left:38%;
    }

    .about-story{
        width: 50vw;
        height: 65vw;
        font-size: 3vw;
    }

    article.about-story section{
        margin-bottom: 3vw;
    }
    
}

/*Media
TABLET--IN --------------------------------------------------*/
/* @media screen and (min-width: 575px){
    .about-story{
        width: 345px;
        height: 421px;
        font-size: 17.25px;
    }

    .richie-portrait{
        width: 161px;
    }  

} */

/*Media
TABLET--IN --------------------------------------------------*/
@media screen and (min-width: 600px){
    .richie-portrait{
        width:25vw;
        bottom: 20%;
    }

}





/*----------------------------------------------Home-About-end----------------------------------------------------------*/

/*----------------------------------------------Home-reviews----------------------------------------------------------*/
.gradient{
    background-image:linear-gradient(#BC815F,#e6e6e6);
    overflow: auto;
}

.review-page-box{
    width:73.19%;
    margin:auto;
    height:auto;
    margin-top: 40px;
}

.home-page4-reviews{
    column-count: 3;
    column-width: 250px; 
    height: auto;
}


.home-review-pic{
    width: 190px;
    height:190px;
    position:relative;
    top:69px;
    margin-bottom: 23px;
    overflow: auto;
}

.home-review-caption{
    width: 308px;
    font-family: "inter";
    font-size: 1.125rem;
    position:relative;
    top: 69px;
    margin:auto;
}   



section.home-review:hover{
     opacity: 100%;
}


/*XSMALL - Screen phone------------*/

.home-review{
    width: auto;
    height:auto;
    opacity: 80%;
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
}

.home-review-pic{
    width: 80px;
    height: 80px;
    position: static;
    margin-bottom: 10px;
}

.home-review-caption{
    width: 200px;
    font-family: "inter";
    font-weight: bolder;
    font-size: 1;
    position:relative;
    top: 69px;
    margin:auto;
}

.home-review-caption{
    width: auto;
    font-family: "inter";
    font-size: 1rem;
    position:static;
    margin:auto;
}

#review-3{
    display: none;
}

p.home-review-see-more a:visited,
p.home-review-see-more a:active,
p.home-review-see-more a{
    display: block;
    width: 100%;
    color:#B30000;
    text-align: right;
    font-size: 0.9rem;
    padding:5px;
    transform: translateY(-30px);
}


/*Media query
Tablet- *------------------------------------*/
@media screen and (min-width:425px){
        .home-review{
            width: 250px;
        }
    
        .home-review-pic{
            width: 90px;
            height: 90px;
        }

        p.home-review-see-more a{
            display: block;
            width: 100%;
            color:#B30000;
            text-align: right;
            font-size: 0.9rem;
            padding:5px;
            transform: translateY(0);
        }
}

/*Media query
TABLET---IN *------------------------------------*/
@media screen and (min-width:425px){
    .home-review-pic{
        width: 21vw;
        height: 21vw;
    }

    .home-review-caption{
        font-size: 18px;
    }

}

/*Media query
TABLET---IN *------------------------------------*/
@media screen and (min-width:525px){
    .home-review-pic{

      width: 110px;
      height: 110px;     
    }

}

/*Media query
TABLET---IN *------------------------------------*/
@media screen and (min-width:708px){
    .home-review{
        break-after: column;
    }

}


/*----------------------------------------------Home-review-end----------------------------------------------------------*/

/* -----------------------------------------------------Contact---------------------------------------------------------------*/


.contact-fieldset{
    width:80%;
    margin:auto;
    margin-bottom: 5%;
    margin-top: 194px;
}

.contact-legend{
    text-align: center;
    width: auto;
}

.contact-form{
    float:left;
    width: 50%;
    height: 25.5rem;
    background-color: #287ab8;
    color: #e6e6e6;
    
}

.contact-center{
    text-align: center;
}

.contact-input{
    width:30ch;
    display: block;
    margin:auto;
    margin-bottom: 2%;
}

input.contact-input:focus{
    background-color: #C1E1C1;
}

textarea.contact-area:focus{
    background-color: #C1E1C1;
}

.contact-subject{
    width: auto;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

textarea.contact-area{
    display: block;
    margin: auto;
    margin-bottom: 1%;
}

.contact-p-button{
    text-align: center;
}
.contact-button{
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2.2px;
    padding-right: 2.2px;
    margin-right: 2px;
    margin-bottom: 5%;
}

.contact-ul{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 6.2rem;
    font-size: larger;
    font-weight: bold;
    width: 50%;
    float: right;
    background: #e2d8cc;
}

ul.contact-ul li{
    line-height: 4.1rem;
}

ul.contact-ul a{
    display: contents;
    color:#7d4727;
}

ul.contact-ul a:hover{
    color:#b30000;
}

.contact-days{
    margin: auto;
    font-weight: bold;
    text-align: center;
    font-size: larger;

}

.contact-hours{
    margin-top: 10%;
    margin: auto;
    font-weight: bold;
    color: #b30000;
    text-align: center;
    margin-bottom: 5%;
    font-size: larger;

}


/*XSMALL - Screen phone------contact------*/
 li{
        word-wrap: break-word;
    }

 .contact-fieldset{
        width:100%;
        margin:auto;
        margin-bottom: 5%;
    }

 .contact-title{
        font-size: 1rem;
        font-weight: bold;

    }

 .contact-form{
        display: block;
        width: 100%;
        height: 25.5rem;
        background-color: #287ab8;
        color: #e6e6e6;
        
    }

 textarea.contact-area{
        display: block;
        margin: auto;
        margin-bottom: 1%;
        width:240px;
        height:150px;
    }
    
 .contact-ul{
        text-align: center;
        display: block;
        padding-top: 3rem;
        padding-bottom: 6.2rem;
        font-size: larger;
        font-weight: bold;
        width: 100%;
        background: #e2d8cc;
        list-style-type: none;
    }

 .contact-days{
        font-size: 1.1rem;
    }

 .contact-hours{
        font-size: 1.1em;
    }

/*Media 
PHONE-SMALL  -------------------------------------*/
@media screen and (min-width:325px){
    
}


/*Media query
PHONE- LARGE*------------------------------------*/
@media screen and (min-width:425px){
    .contact-fieldset{
        margin-top: 40px;
    }

}

/* ----------------------------------------------------Contact(end)----------- ----------------------------------------------*/
/* -------------------------------------------------------Footer-------------------------------------------------------------*/
footer{
    
    height: 13rem;
    background: #52392F;
    color: white;  
}

.footer-titles{
    display: flex;
    justify-content: space-around;

}

footer h4{
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-contents{
    height:10rem;
    display: flex;
}

.sitemap-list{
    width: 33.3%;
}

footer .align-list{
    list-style-type: none;
    width: 58%;
    float: right;
    line-height: 30px;
    padding-top: 5px;
}

footer .contact-icons-list{
    list-style-type: none;
    width:67%;
    float: right;
    margin-top: 5px;
}

footer .contact-icons-list li{
    display: inline;
    padding: 2px;
}

footer ul.contact-icons-list img{
    width:30px;
    height:30px;
}
.services-footer{
    width:32%;
}


.message-us{
    width: 35%;
    padding-top: 5px;
}


footer .copy-right{
    width:99%;
    float:right;
    padding: 10px;
    margin-top: 20px;
    font-size: small;
}

footer form{
    width:70%;
    float: right;

}

footer a:visited,
footer a{
    text-decoration: none;
    color: white;
}

footer li a:hover{
    color:#e6e6e6;
    cursor: pointer;

}

footer input[type=email]{
    width: 30ch;
    margin-bottom: 1px;
}

footer input[type=email]:focus{
    /* background-color: #B4D9EF; */
    background-color: #C1E1C1;

}

footer button{
    padding-left: 10px;
    padding-right: 10px;
}

footer button:hover{
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer textarea:focus{
    /* background-color: #B4D9EF; */
    background-color: #C1E1C1;
} 
/*XSMALL - Screen phone-------footer-----*/
 footer{
        height: 260px;
    }

 .message-us{
        display:none;
    }

  footer div:nth-child(3){
        display:none;
    }

 footer .services-footer{
        width:42%;
    }

 footer .sitemap-list{
    width:52%;
   }

 ul.align-list:first-child{
    width: 70%;
   }

 ul.contact-icons-list{
    display:block;
    float:left;
    margin-left:48px;
   }
    
/* -----------------------------------------------------Footer(end)-----------------------------------------------------------*/
