*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*font-size: 100%;*/
    font-size: 100%;
}

body{
    font-size: 1.1rem;
    background-color: #e6e6e6;
    
  }
a{
    text-decoration: none;
}

header{
    /*background-color: #5da8b3;*/
    background-color: #bc815f;
    height:20vh;
}

header div:first-child{
    background-color: #e6e6e6;
    height: 65%;
}

header nav{
    height:35%;
    background-color:#bc815f;
    border-radius: 2rem;
    font-size: 1rem;
    line-height: 3.5rem;
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    width:"10%";
    height:75%;

}
header ul{
    list-style-type: none;
    margin-left:0.5%;
    margin-right: 0.5;
}

header li{
    display: inline-block;
    border: solid #7e533f;
    border-bottom: 2px solid #7e533f;
    margin-left: 15vw; 
    background-color: #bc815f;
}


li:last-child{
    margin-right: 0;
}

li a, li a:visited{
    text-decoration: none;
    color: #e6e6e6;
    display: block;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    line-height: 4rem;
}

header a:hover, a:focus{
    background-color: #5d3d30;
    color: white;
    font-size: 1.2rem;
       
}

header li:hover{
    background-color: #5d3d30;
    color: white
}

.current-nav{
    color: white; 
    background-color: #5d3d30;
    font-size: 1.2rem
}

a:hover{
    color:#5d3d30;
}
main{
    margin-top: 5%;
}

main div{
    display: inline-block;
    margin-top: 6%;
    float:left;
    width:50%;
    height: 90%;

}

main figure{
    margin-top: 2px;
    
}


.home-pic{
    width: 43vmax;
    height: 43vmax;
}

.center-Fenn{
    color: #b30000;
    font-family:'chalkduster', fantasy;
    font-size: 3.4vmax;
    font-weight: bolder;
    text-align: center;
    width: 40vmax;
    heigh: 40vmax;
    margin-left: 17%;
    /*margin-top: 15%;*/
    transform: rotate(-15deg);

}

p.center-Fenn:hover{
    color: #EED88B;
}

.center-Construction{
    color: #b30000;
    font-size: 3.4vmax;
    font-family:'chalkduster', fantasy;
    font-weight: bolder;
    text-align: center;
    margin-left: 33%;
    margin-top: 0.7rem;
    transform: rotate(-15deg);
}

p.center-Construction:hover{  
    color:#006b3e;
    
}

ol{
    list-style-type:none;
    line-height: 3em;
}

ul{
    list-style: none;
}

.fa {
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    width: 2em;
    text-align: left;
    text-decoration: none;
    border-radius: 70%;
  }


.fa:hover {
    opacity: 0.7;
  }
  
.fa-facebook{
    background-color: #3B5998;
    color: white;
}

/*text align left text align right */
.align-left{
display: inline;
float: left;
text-align: center;
margin-right: 20%;
margin-left: 20%;
}

.aling-center{
 display: inline;
 float: right;  
}

.align-right{
    display: inline;
    text-align: right;
}

footer{
    height: 15rem;
    background: #52392F;
    /*background-color: #7e533f;*/
    color: white;  
}

footer div:first-child{
    display: inline-block;
    width: 50%;

}



footer h4:first-child{
    width: 70%;
    display: inline-block;
    float: left;
    position: relative;
    left: 12%;
    top:5%

}
footer h4:nth-child(2){
    
    width: 30%;
    display: inline-block;
    position: relative;
    top:5%
}


 footer ul{
    display: inline-block;
    width: 50%;
    float: left;
    margin-top:1.2%;
    margin-right: 0;
    position: relative;
    left:10%;
    /* margin-inline-start: 0;
    margin-inline-end: -100px;
    margin-block-end: 0;
    writing-mode: horizontal-tb; */
} 

footer ul:nth-child(2){
    display: inline;
}
footer li{
    display: inline;
}

footer li:first-child{
    position: relative;
}


.footer-services{
    position: relative;
    left: 60%;
}

.footer-gallery{
    position: relative;
    left:59%;
}


.copy-right{
    display: inline-block;
    width: 50%;
    font-size: medium;
    float: left;
    margin-top: 1%;
    position: relative;
    right:45%;
    top:5%;

}

footer form{
    display: inline-block;
    width: 30%;
    float:right;
    position: relative;
    top: 13%;
}

footer a{
    display: inline;
    color:inherit;
}

footer a:hover{
    color:#B4D9EF;
    font-size: 1.2rem;

}

footer input[type=email]:focus{
    background-color: #B4D9EF;

}

footer textarea:focus{
    background-color: #B4D9EF;
} 

footer button{
    padding-left: 10px;
    padding-right: 10px;
}
